p {
    border-width: 2px;
    border-radius: 0px 10px 0px 10px;
    padding: 5px;
    border-style: solid;
    border-color: #cccccc;
    text-indent: 10px;
}
ul li {
    list-style-image: url("../img/logo-list.jpg");
}
a[href^="https"]::before {
    content: url("../img/extref.png");
}
p a[href$=".pdf"]::after {
    content: url("../img/logo-pdf.png");
    vertical-align: middle;
}
p a[href$=".doc"]::after {
    content: url("../img/logo-doc.jpg");
    vertical-align: middle;
}
p a[href$=".zip"]::after {
    content: url("../img/logo-zip.gif");
    vertical-align: middle;
}
ul li a[href$=".pdf"]:hover::after {
    content: url("../img/logo-pdf.png");
}
ul li a[href$=".doc"]:hover::after {
    content: url("../img/logo-doc.jpg");
}
ul li a[href$=".zip"]:hover::after {
    content: url("../img/logo-zip.gif");
}

